.produto {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 18%;
  text-align: center;
  transition: 0.5s;
  padding: 20px;
  margin-block: 1%;
  background-color: lightgray;
  border-radius: 10px;
}

.ancora {
  color: black;
  text-decoration: none;
}

.produto:hover {
  scale: 1.05;
}

.btnAdicionar {
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  padding: 7.5px;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
}

.btnAdicionar:hover {
  cursor: pointer;
  scale: 1.05;
}
