.produto {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 16%;
  text-align: center;
  transition: 0.5s;
  padding: 20px;
  margin-block: 1%;
  background-color: whitesmoke;
  border-radius: 5px;
}

.produto:hover {
  box-shadow: 1px 1px 5px gray;
}

.nome {
  min-height: 3rem;
  display: flex;
  align-items: center;
  color: black;
}

.valor {
  color: var(--cor-principal);
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  justify-content: start;
}

.ancora {
  text-decoration: none;
}

.btnAdicionar {
  width: 100%;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  padding: 7.5px;
  border: none;
  border-radius: 5px;
}

.btnAdicionar:hover {
  cursor: pointer;
}
