.infosProduto {
  width: 100%;
}

.btnAdicionar {
  width: 30%;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
}
