.listaInfoUsuario {
  display: flex;
  width: 100%;
  list-style: none;
  gap: 5%;
}

.containerDadosPessoais,
.containerEndereco {
  width: 30%;
}

.infoUsuario {
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
  }
  input,
  select {
    padding-block: 15px;
  }
  select {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
  }
  option {
    color: gray;
  }
}

.containerDado {
  margin-block: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 0 15px;
  input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.icone {
  color: gray;
  width: 25px;
  height: 25px;
  display: block;
  flex-shrink: 0;
}

.imutavel {
  border: 1px solid lightgray;
  background-color: lightgray;
  input {
    color: rgb(100, 100, 100);
  }
  .icone {
    color: gray;
  }
}

.btnSalvar {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border-radius: 20px;
  border: none;
  width: 100%;
  margin-bottom: 1.5%;
  padding: 10px;
}
