.containerOutrasAcoes {
  display: flex;
  gap: 15px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  width: min-content;
  height: 40px;
  padding: 5px;
}

.btnExcluir {
  background-color: red;
}

.btnExcluir:hover,
.btnExcluir:focus {
  background: rgb(230, 0, 0) !important;
}

.btnSair {
  background-color: rgb(20, 20, 20);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
