.formulario {
  width: 35%;
}

.formSignIn {
  display: flex;
  flex-direction: column;
  margin-left: 7.5%;
}

.formSignIn h1,
.finalizarAutenticacao p {
  text-align: center;
}

.dadosAutenticacao {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dadosAutenticacao input {
  padding: 2%;
  width: 100%;
}

.genero {
  margin: 0;
  padding: 0;
}

.finalizarAutenticacao {
  margin-top: 15px;
}

.finalizarAutenticacao button {
  width: 100%;
  padding: 2%;
  margin-bottom: 5px;
}

.containerSenhaLogin {
  display: flex;
}
