.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.formulario h1 {
  text-align: center;
}

.containerDado,
.containerSenha {
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px gray;
  border-radius: 30px;
  input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
  }
}
.containerDado {
  padding: 9px 15px;
}

.containerSenha {
  padding: 5px 15px;
  button {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    background-color: transparent;
  }
}

.btnCadastrar {
  margin-top: 10px;
  padding: 15px;
  color: var(--cor-secundaria);
  background-color: var(--cor-terciaria);
  border: none;
  border-radius: 20px;
}

.icone {
  color: gray;
}

.icone:not(:last-child) {
  margin-right: 10px;
}

.iconeAtivo {
  color: black;
}
