.infosProduto {
  width: 100%;
}

.valor {
  color: var(--cor-principal);
  font-size: 1.25rem;
  font-weight: bold;
}

.btnAdicionar {
  width: 32.5%;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 15px;
}

.containerQuantidade {
  display: flex;
  width: 30%;
  gap: 5px;
  input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    outline: none;
  }
  button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: var(--cor-secundaria);
  }
  :first-child {
    background-color: var(--cor-terciaria);
  }
  :last-child {
    background-color: var(--cor-principal);
  }
}

.containerFrete {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  h2 {
    margin: 0;
  }
}

.cep {
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 8px;
}

.containerFrete button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  border: none;
  padding: 9px;
}
