.infoUsuario {
  display: flex;
  gap: 2.5%;
  h2 {
    margin-bottom: 15px;
  }
  label {
    font-weight: bold;
  }
  input,
  select {
    padding-block: 15px;
  }
  select {
    width: 100%;
    outline: none;
    background: transparent;
    border: none;
  }
  option {
    color: gray;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.dadosPessoais,
.endereco {
  width: 30%;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 25px;
}

.dadosPessoais {
  height: min-content;
  width: 100%;
}

.dados {
  margin-block: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 0 15px;
  input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.icone {
  color: gray;
  width: 25px;
  height: 25px;
  display: block;
  flex-shrink: 0;
}

.imutavel {
  border: 1px solid lightgray;
  background-color: lightgray;
  input {
    color: rgb(100, 100, 100);
  }
  .icone {
    color: gray;
  }
}
