.containerLogin {
  display: flex;
  justify-content: center;
  gap: 7.5%;
}

.containerLateralEsquerda {
  width: 35%;
  padding: 2.5%;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.containerLateralDireita {
  width: 35%;
}
