.container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 15px;
  background-color: whitesmoke;
  padding: 3% 2.5%;
  width: 35%;
  h1,
  .direcionar {
    text-align: center;
  }
}
