.containerCategorias {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.containerCategorias li {
  width: 8%;
}

.categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 10px 0;
  border-radius: 10px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  transition: 500ms;
}

.categoria:hover {
  box-shadow: 1px 1px 10px gray;
}
