.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  width: 100%;
  top: 0;

  z-index: 10;
}

.barraFuncionalidades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 10%;
  background-color: var(--cor-principal);
}

.linksRapidos {
  list-style: none;
  display: flex;
  gap: 20px;
}

.linksRapidos a {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: gray;
  font-size: small;
  transition: 0.1s;
}

#funcionalidadesAutenticadas,
#funcionalidadesNaoAutenticadas {
  display: flex;
}

#funcionalidadesAutenticadas {
  gap: 20px;
}

#funcionalidadesNaoAutenticadas {
  gap: 10px;
}

.icone {
  width: 30px;
  height: 30px;
  color: var(--cor-terciaria);
}

.login,
.signUp {
  background-color: transparent;
  padding: 5px 10px;
  color: var(--cor-terciaria);
  transition: 0.1s;
}

.login {
  border: none;
}

.signUp {
  border-radius: 5px;
  border: 1px var(--cor-terciaria) solid;
}

.linksRapidos a:hover {
  scale: 1.05;
  background-color: gray;
  color: white;
}

.login:hover,
.signUp:hover {
  cursor: pointer;
  scale: 1.05;
}

.linksRapidosCategorias {
  background-color: #80264a;
  margin: 0;
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.linksRapidosCategorias a li {
  transition: 0.1s;
  font-size: 0.85rem;
}

.linksRapidosCategorias a {
  padding: 1.5% 5%;
  text-decoration: none;
  color: white;
}

.linksRapidosCategorias a:hover {
  color: var(--cor-terciaria);
  background-color: #702040;
  li {
    scale: 1.05;
  }
}
