@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  --cor-principal: #97315a;
  --cor-complementar-principal: #702040;

  --cor-secundaria: #fff;
  --cor-complementar-secundaria: #f5f5f5;

  --cor-terciaria: #daa520;
  --cor-complementar-terciaria: #b98c14;

  --font-color: #808080;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", Arial;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(230, 230, 230);
}

a,
p,
li,
button,
label,
input {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3 {
  color: var(--cor-terciaria);
}

h1 {
  font-weight: bold;
}

/* Estilo para toda a barra */
::-webkit-scrollbar {
  width: 12px;
}

/* Estilo para a fundo */
::-webkit-scrollbar-track {
  background: #5f1b36;
}

/* Estilo para a parte que você arrasta */
::-webkit-scrollbar-thumb {
  background: var(--cor-terciaria);
  border-radius: 0;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(194, 146, 25);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-terciaria);
}

.overlay {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100vw;
  height: calc(100vh - 15%); /* ocupa apenas o espaço disponível */
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
  animation: esmanecer 750ms;
  pointer-events: none;
}

@keyframes esmanecer {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.3);
  }
}
