.conteudo {
  padding: 2% 10%;
}

.produtosPaginaInicial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 3%;
}

.produtosEmPromocao,
.produtosMaisVendidos {
  margin-bottom: 5%;
}
