.pedido {
  display: flex;
  align-items: center;

  background-color: whitesmoke;
  padding: 30px;
  border-radius: 30px;
  border-bottom: 10px solid var(--cor-terciaria);
  transition: 250ms;
}

.pedido:hover {
  scale: 1.01;
}

.infosPedido {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

.status {
  display: flex;
  gap: 1%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: gray;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
  }
}

.funcionalidades {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.icone {
  width: 30px;
  height: 30px;
}

.verde {
  color: lightgreen !important;
}

.vermelho {
  color: red !important;
}

.btnExcluir {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  border: none;
  padding: 10px;
  color: var(--cor-secundaria);
  background-color: red;
  border-radius: 20px;
}
