.containerSignUp {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.containerLateralEsquerda {
  width: 40%;
  background-color: whitesmoke;
  padding: 30px;
}

.linkLogin {
  text-align: center;
}

.containerLateralDireita {
  width: 40%;
  padding: 2.5%;
  background-color: var(--cor-principal);
  color: white;
}
