.containerSignUp {
  display: flex;
  justify-content: center;
  padding: 5%;
  gap: 7.5%;
}

.containerLateralEsquerda {
  width: 35%;
}

.linkLogin {
  text-align: center;
}

.containerLateralDireita {
  width: 35%;
  padding: 2.5%;
  background-color: var(--cor-principal);
  color: white;
}
