.containerProduto {
  text-align: center;
}

.containerLinkProduto {
  padding: 1%;
  display: flex;
  align-items: center;
  transition: 1s;
  gap: 5%;
}

.containerLinkProduto span h3 {
  text-align: left;
}

.containerQuantidadeProduto,
.containerSelecaoProduto {
  width: 15%;
}

.containerQuantidadeProduto :first-child {
  background-color: tomato;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.containerQuantidadeProduto :last-child {
  background-color: lightgreen;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.containerLinkProduto:hover {
  scale: 1.02;
}

.containerProduto a {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.btn {
  margin-inline: 10px;
  padding: 10px;
  border: none;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.containerFinalizarCompra {
  width: 100%;
  background-color: var(--cor-secundaria);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px;
  text-align: end;
}

.containerFinalizarCompra button {
  padding: 15px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 20px;
}

.btnRemover {
  background-color: tomato;
  color: white;
  padding: 7.5px;
  border-radius: 50px;
  border: none;
}
