.containerCategorias {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.containerCategorias li {
  width: 8%;
  transition: 0.5s;
}

.containerCategorias li:hover {
  scale: 1.05;
}

.categoria {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
