:root {
  --cor-fundo: rgb(20, 20, 20);
  --cor-texto: #57449a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: bold;
}

.button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px white solid;
  color: var(--cor-texto);
  font-weight: bold;
}
