.listaInformacoesConsumidor {
  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style: none;
  width: 30%;
}

.informacaoConsumidor {
  display: flex;
  flex-direction: column;
}

.informacaoConsumidor input {
  padding: 2%;
}

.btnLogout {
  padding: 10px;
}
