.container {
  display: flex;
  gap: 2.5%;
}

.containerFiltros {
  width: 25%;
  height: min-content;
  max-height: 75%;

  position: sticky;
  top: 22.5%;

  padding-top: 0;

  header {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    background-color: var(--cor-principal);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h2 {
      margin: 0;
      color: var(--cor-secundaria);
    }
  }
}

.containerResultados {
  width: 75%;
  h2 {
    color: var(--cor-principal);
  }
}

.resultados {
  width: 100%;
}

.filtros,
.resultados {
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 30px;
}

.listaCategoria,
.listaSubcategoria {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  li {
    display: flex;
    align-items: center;
    gap: 2.5px;
  }
}

.valores {
  display: flex;
  flex-direction: column;
  input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: transparent;
    margin-block: 5px 15px;
  }
}

.btnLimparFiltros {
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 30px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}
