.containerFinalizarCompra {
  width: 100%;
  background-color: var(--cor-secundaria);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px;
  text-align: end;
}

.containerFinalizarCompra button {
  padding: 15px;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 20px;
}
