.containerCarrinho {
  display: flex;
  width: 100%;
  gap: 20px;
}

.itens,
.resumoCompra {
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
}

.itens {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  padding: 30px;
}

.resumoCompra {
  position: sticky;
  overflow: auto;
  height: min-content;
  max-height: 75%;

  top: 22.5%;
  width: 30%;
  padding: 30px;
}

.containerFinalizarCompra {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.containerFinalizarCompra button {
  padding: 15px 20px;
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}

.selecionado {
  padding: 1% 2% 1% 1%;
  scale: 0.98;
  background-color: rgb(200, 200, 200);
  filter: grayscale(0.1);
  transition: 0.5s;
}

.naoSelecionado {
  transition: 0.5s;
}
