.containerCarrinho {
  display: flex;
  width: 100%;
  gap: 20px;
}

.containerProdutos,
.resumoCompra {
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  padding: 30px;
  h2 {
    color: var(--cor-principal);
  }
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.resumoCompra {
  position: sticky;
  overflow: auto;
  height: min-content;
  max-height: 75%;
  top: 22.5%;
  width: 30%;
}

.containerRealizarCompra {
  button {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 10px gray;
  }
}

.selecionado {
  padding: 1% 2% 1% 1%;
  scale: 0.98;
  background-color: rgb(200, 200, 200);
  filter: grayscale(0.1);
  transition: 0.5s;
}

.naoSelecionado {
  transition: 0.5s;
}
