.containerItemCarrinho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerProduto {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 40%;
}

.containerQuantidadeProduto,
.containerSelecaoProduto,
.containerExcluir,
.containerValor {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerLinkProduto {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  padding: 1%;
}

.containerQuantidadeProduto :first-child {
  background-color: var(--cor-terciaria);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.containerQuantidadeProduto :last-child {
  background-color: var(--cor-principal);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.valor {
  font-weight: bold;
  color: var(--cor-principal);
  font-size: 1.1rem;
}

.quantidade {
  border: none;
  display: inline;
  width: 30%;
  padding: 12px 10px;
  text-align: center;
  outline: none;
}

.btn {
  padding: 10px 15px;
  border: none;
  color: var(--cor-secundaria);
  font-size: medium;
}

.btnRemover {
  background-color: tomato;
  color: white;
  padding: 7.5px;
  border-radius: 50px;
  border: none;
}

.checkbox {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
